*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body{
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    color: rgb(77,78,83);
  }
  /* Styling the navigation bar */
  #navbar{
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 300px;
    min-width: 290px;
    height: 100%;
    line-height: 25px;
    border-right: 3px solid rgba(0, 22, 22, 0.4);
    display: block;
  }
  #navbar li{
    width: 300px;
    padding: 10px 30px;
    text-align: left;
    position: relative;
    border-top: 1px solid rgba(0, 22, 22, 0.4);
  }
  #navbar ul{
    height: 80%;
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  #navbar header{
    font-weight: thin;
    font-size: 1.8em;
    text-align: center;
    margin-top: 15px;
    height: 25px
  
  }
  .nav-link{
    text-decoration-line: none;
    color: rgb(77,78,83);
    
  }
  
  /* Styling the main doc */
  main{
    display: block;
  }
  #main-doc{
    position: absolute;
    margin-left: 310px;
    margin-bottom: 110px;
    padding: 30px;
  
  }
  .main-section{
    margin-bottom: 15px;
  }
  .main-section header{
    color: black;
    font-size: 1.8em;
    margin: 0;
    text-align: left;
  }
  .main-section article{
    margin: 10px 0 0 30px;
    font-size: 0.96em;
  }
  .main-section article p{
    margin-bottom: 10px;
    
  }
  .main-section article ul{
    margin-left: 50px;
  }
  .main-section article code{
    display: block;
    width: 90%;
    background-color: #f7f7f7;
    font-family: monospace;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    word-break: normal
  }
  @media (min-width: 700px) and (max-width: 1000px){
      body{
        width: 100%;
      }
      #navbar{
        width: 150px;
        height: 100%;
      }
      
  }